body {
    margin: 0;
    background-color: rgba(168,210,134,0.9);
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color: #212121;
}

a {
    color: #212121; /* 辅助色 */
    text-decoration: none; /* 可选：去除下划线 */
}

a:hover {
    color: #ADFFD9; /* 交互色 */
}


/* 媒体查询：针对最大宽度为600px的设备 */
@media (max-width: 600px) {
    .page {
        flex-direction: column;
        align-items: flex-start;
    }

    .show-chart {
        flex-direction: column;
    }

    .chart {
        width: 100%; /* 占满屏幕宽度 */
        height: auto; /* 根据内容自动调整高度 */
    }

    .text-check {
        width: 100%; /* 占满屏幕宽度 */
    }

    /* 其他针对手机的样式调整 */
}

/*
    BGC         #388E3C
    bgc         #C8E6C9
    辅助 #4CAF50
    font-color  #FFFFFF
    强调色       #536DFE
    主要文本     #212121
    辅助文本     #757575
    分割符       #BDBDBD
    交互        #ADFFD9

*/