* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgba(168, 210, 134, 0.9);
    color: #000;
    font-family: Arial, sans-serif;
}

h2, h3, h4, h5, h6 {
    color: #0056b3;
}

h1 {
    color: #0056b3;
    padding-top: 40px ;
}

p {
    font-size: 1em; /* 段落文字大小 */
    margin-bottom: 1em; /* 段落之间的间距 */
}

a {
    color: #212121; /* 辅助色 */
    text-decoration: none; /* 可选：去除下划线 */
}

a:hover {
    color: #ADFFD9; /* 交互色 */
}

@media screen and (max-width: 430px){
    width: 100vw;
    

}

/*
    BGC         #388E3C
    bgc         #C8E6C9
    辅助 #4CAF50
    font-color  #FFFFFF
    强调色       #536DFE
    主要文本     #212121
    辅助文本     #757575
    分割符       #BDBDBD
    交互        #ADFFD9

*/